{% extends "base.html" %}

{% block title %}Register user{% endblock %}
{% block content %}

  <h1>Register a new User</h1>
  <p>Please, sign up using the following form:</p>
  <form method="post" novalidate>
    {{ form.non_field_errors }}

  {% if error %}
    <p style="color: red;">{{ error }}</p>
  {% endif %}

    
    {% for field in form %}
    
    {% if field.is_hidden %}
    {{ field }}
    {% else %}
    
      <p>
        {{ field.as_field_group }}
      </p>
      
    {% endif %}
  
    {% endfor %}
   
    {% csrf_token %}

    <div
      class="cf-turnstile"
      data-sitekey="0x4AAAAAABl4fc3J_9NCOIgJ"
    ></div>

    <p><input type="submit" value="Sign Up"></p>
    <a href="{% url 'blog:posts_list' %}" >Back</a>
  </form>


{% endblock %}