.pagination {
  margin-top: 20px;
  text-align: center;
}

.pagination a {
  text-decoration: none;
  color: #666;
}

.pagination a:hover {
  color: #333;
}

.pagination .active a {
  color: #333;
  font-weight: bold;
}
