.post-meta {
  font-size: 1em;
  color: #7a7a7a;
  margin-bottom: 10px;
  text-decoration: none;
}

.post-image {
  justify-content: center;
  display: flex;
  align-items: center;
}
.post-image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}
.post-tags {
  margin: 5px;
  font-size: 1.2em;
}

.post-tags a {
  text-decoration: none;
  color: #666;
}

.tag {
  display: inline-block;
  padding: 5px 10px;
  margin: 5px;
  background-color: #e7e7e7;
  border-radius: 5px;
  font-size: 14px;
  color: #333;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.comments-container, .comments-list {
  margin-top: 2rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.comments-list {
  border-top: #333 solid 1px;
}


.comment {
  background-color: #f0f0f0;
  width: 90%;
  max-width: 600px;
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;

}

.comment-content {
  font-size: 1em;
  background-color:white;
  padding: 1rem;
  border-radius: 5px;
}

.comment-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
}

.comment-footer h3, p {
  margin:0;
  font-size: 0.75em;
}

.comment-footer h3 {
  font-weight: normal;
  color: #333;
}

.comment-footer span {
  font-weight: bold;
}
