{% extends "base.html" %}

{% load static %}

{% block title %}Edit Post{% endblock title %}

{% block content %}

<h1>Edit Post: </h1>
<h2>{{ post.title }}</h2>

<form method="post" enctype="multipart/form-data">
{% csrf_token %}
{{ form.as_p}}



  {% if error %}
    <p style="color: red;">{{ error }}</p>
  {% endif %}

<button type="submit">Save</button>
<button onclick="history.back()">Cancel</button>


</form>

{% endblock content %}


{% block extra_scripts %}
  <script src="{% static 'js/select2_init.js' %}"></script>
  <script src="{% static 'js/tinymce_init.js' %}"></script>
{% endblock extra_scripts %}

