{% extends "base.html" %}

{% load static %}
{% load thumbnail %}

{% block title %}List of posts{% endblock title %}

{% block extra_headers %}
  <link rel="stylesheet" href="{% static 'css/posts_list.css' %}">
  <link rel="stylesheet" href="{% static 'css/pagination.css' %}">
{% endblock extra_headers %}

{% block content %}

<h1>List of posts</h1>

<div class="container">

    <div class="main-content">
    
    <div class="post-list">
      {% include 'blog/includes/post_list.html' %}
    </div>
  </div>
  
  <div class="sidebar">
    {% include 'blog/includes/post_filters.html' %}
  </div>
  
</div>

{% endblock content %}

{% block extra_scripts %}

<script src="{% static 'js/select2_init.js' %}"></script>

<script>
  function preserveQueryParams(event) {
    event.preventDefault(); // Stop default form submission

    const form = event.target;
    const formData = new FormData(form);
    const searchParams = new URLSearchParams(window.location.search);

    // Add/overwrite the form fields in the URL parameters
    for (const [key, value] of formData.entries()) {
      searchParams.set(key, value);
    }

    // Reconstruct the URL with updated params and redirect
    const newUrl = window.location.pathname + '?' + searchParams.toString();
    window.location.href = newUrl;
  }
</script>


{% endblock extra_scripts %}
