{% extends "base.html" %}

{% load static %}
{% load thumbnail %}

{% block title %}List of posts{% endblock title %}

{% block content %}

<h1>List of posts</h1>

<div class="post-list"
     hx-get="{% url 'blog:post_list_partial' %}"
     hx-trigger="load"
     hx-swap="innerHTML"
     hx-indicator="#spinner">

</div>

{% endblock content %}


{% block extra_headers %}
  <link rel="stylesheet" href="{% static 'css/posts_list.css' %}">
  <link rel="stylesheet" href="{% static 'css/pagination.css' %}">
{% endblock extra_headers %}

