<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock title %}</title>

  
  <link rel="stylesheet" href="{% static 'css/base-style.css' %}">

  <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js" integrity="sha384-Akqfrbj/HpNVo8k11SXBb6TlBWmXXlYQrCSqEWmyKJe+hDm3Z/B2WVG4smwBkRVm" crossorigin="anonymous"></script>
  
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

  {% block extra_headers %}{% endblock extra_headers %}
</head>
<body>
  
      {% block navbar %}
      {% include 'navbar.html' %}
      {% endblock navbar %}

  <div class="content">

    
    {% block content %}
      
  
    {% endblock content %}
      
  </div>


  {% block extra_scripts %}{% endblock extra_scripts %}
  
</body>
</html>