<div class="pagination">
  <span class="step-links">


    {% if page_obj.has_previous %}
    <a hx-get="{% querystring page=page_obj.previous_page_number %}"
      hx-target=".post-list"
      hx-swap="innerHTML"
            hx-push-url="true">
      <span class="previous">Previous</span>
    </a>    
    {% endif %}
    
    
    {% for num in page_obj.paginator.page_range %}
    {% if page_obj.number == num %}
    <span class="current">{{ num }}</span>
    {% else %}
    <a hx-get="{% querystring page=num %}"
      hx-target=".post-list"
      hx-swap="innerHTML"
      hx-push-url="true">
    {{ num }}</a>
    {% endif %}
    {% endfor %}
    
    {% if page_obj.has_next %}
    <a hx-get="{% querystring page=page_obj.next_page_number %}"
      hx-target=".post-list"
      hx-swap="innerHTML"
      hx-push-url="true">
    <span class="next">Next</span>
    </a>
    {% endif %}
    
  </span>
</div>